p {
  margin: 0;
  padding: 0;
}
.container {
  margin: 10% auto 3% auto;
  padding: 0;
  border: 2px solid red;
  border-radius: 10px;
  width: 600px;
  overflow: hidden;
}
.image-area {
  background-image: url(/images/drawers.jpg);
  background-position: center;
  background-size: cover;
  flex: 1;
}
.text-area {
  flex: 1;
  padding: 40px;
}
.avatar {
  height: 50px;
}
.user-data {
  margin: 0 15px;
}
.icon-share {
  height: 20px;
}
.hidden {
  display: none;
}
/* footer */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
